#heyT{

}

#description_child{
    position: absolute;
    height: 620px;
    width: 1085px;
    margin-left: 157px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    top: 23%;
}
#btBack{
    margin-left: 90%;
    position:absolute;
    margin-top: -15%;
}



@media only screen and (min-width:768px) and (max-width: 1024px) {
    #btBack{
        visibility: hidden;
    }
    #homePage{visibility: hidden}

    #heyT{
        top:20px;
    }
    #description_child{
        position: absolute;
        height: auto;
        width: 500px;
        margin-left: 200px;
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        top: 23%;
    }


}