#heyT{

    position: absolute;
    width: 134px;
    height: 36px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.333333px;

    color: #000000;
}
#selected {

    position: absolute;
    width: 150px;
    height: 50px;

    background: #7A7A7A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hamnav {

    position: absolute;
    width: 134px;
    height: 800px;

    background: #000000;
}
body{

    position: absolute;
    width: 1280px;
    height: 800px;

    background: #FFFFFF;
}
#btnBack{

    position: absolute;
    width: 92px;
    height: 24px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.333333px;

    color: #446CFA;
}
#homePage{

    position: absolute;
    width: 92px;
    height: 24px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.333333px;

    color: #FFFFFF;
}