
.grid{
    margin-left: 95px;
    margin-top: -15%;
    display: inline-grid;
}
.box{

    height:50px;
    width: 50px;
    background-color: #ffaff4;
    margin-left: 17px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.btn-block {
    position: absolute;
    top: 13%;
    left: 17%;
    text-align: center;
}
button {
    width: 150px;
    padding: 10px;
    border: none;margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0666a3;
}

.grid img{
    margin-left: -44px;
    margin-top: 98px;
}

.box-child{

    margin-top: -61%;

    height: 1px;

    width: 1px;

    margin-left: 22%;

    padding-top: -16%;
}


@media only screen and (min-width:768px) and (max-width: 1024px) {
    .grid{
        padding: 10px;
    }
    .box{

        width: 50px;
        height: 50px;
        background-color: #ffaff4;
        margin-left: 0px;
        /*padding-left: 100%;*/
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        z-index: auto;
        /*margin-top: %;*/
    }


    .btn-block {
        position: absolute;
        top: -9%;
        left: 24%;
        text-align: center;
    }

    .grid{
        margin-left: 17px;
        display: inline-grid;
    }

    .grid img{
        width: 48px;
        height: 48px;
        margin-block: auto;
        margin-left: 0px;
        margin-top: 13px;

        /*padding-left: 100%;*/
    }
    .box-child{
        margin-top: -6%;
        margin-left: -3%;
        position: absolute;
    }
}

.grid{
    margin-left: 95px;
    margin-top: 0%;
    display: inline-grid;
    padding-right: 60px;
}
.box{

    height:50px;
    width: 50px;
    background-color: #ffaff4;
    margin-left: 17px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.grid img{
    margin-left: -44px;
    margin-top: 98px;
}

.box-child{

    margin-top: -61%;

    height: 210px;

    width: 1px;

    margin-left: 22%;

    padding-top: -16%;
}


@media only screen and (min-width:768px) and (max-width: 1024px) {
    .grid{
        padding: 10px;
    }
    .box{

        width: 50px;
        height: 50px;
        background-color: #ffaff4;
        margin-left: 0px;
        /*padding-left: 100%;*/
        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        z-index: auto;
        /*margin-top: %;*/
    }

    .grid{
        margin-left: 17px;
        display: inline-grid;
    }

    .grid img{
        width: 48px;
        height: 48px;
        margin-block: auto;
        margin-left: 0px;
        margin-top: 13px;

        /*padding-left: 100%;*/
    }
    .box-child{
        margin-top: -6%;
        margin-left: -3%;
        position: absolute;
    }
}
