
#homePage{
    background-image:url("../images/Home.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width:92px;
    height:24px;
    margin: 0 auto;
    top: -383px;
    left: 529px;
}
#btBack{
    background-image:url("../images/Back.svg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width:92px;
    height:24px;
    margin: 0 auto;
    top: -383px;
    left: 449px;
}
#container{

}



.metting_link {
    background-image: url("../images/arr.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14px;
    height: 26px;

}
table{
    position: absolute;
    display: block;
    font-size: 17px;
    overflow-y:scroll;
    width: 466px;
    height: 180px;
}

.tbl_tommorow{

    top: 30%;

    margin-left: 49%;
}
.tbl_today{margin-left: 1.5%;margin-top: -3%;}

.tbl_attention{


}
.tbl_attention {
    background-color: #FF3823;
    opacity: 0.32;
    height: 27%;
    margin-top: 17%;
}
.tbl_feedbacks{

    margin-top: 17%;

    margin-left: 49%;
}


h5{
    position: absolute;
}
.bottom_right{
    width: 999999px;
    height: 1px;
}

#star_r{
    position: absolute;
    width: 140px;
    margin-top: 14%;
    /* margin-left: 880px; */
    margin-left: 65%;
}
#star_r span{
    display: inline-block;
    margin-left: 10px;
    padding: 0px;
}
#top_left_title {
    margin-left: 2%;
    margin-top: -5%;
    width: 247px;
}
#top_right_title{
    margin-left: 49%;
    margin-top: -5%;
    margin-bottom: 60px;
    width: 247px;
}
#bottom_left_title{
    top: 430px;
    margin-bottom: 60px;
    width: 247px;
}

.bottom_right{

    /*position: absolute;*/
    top: 430px;
    left: 762px;
}
#bottom_right_title{
    top: 430px;
    margin-left: 59%;
    width: 247px;
    margin-bottom: 60px;
}
#mark{
    width: 40%;
    height: 25px;
    background: #FEF67F;
    opacity: 0.32;
    margin-left: -1%;
    border-radius: 40px;
    font-weight: bold;
    margin-top: -1%;
}
.cell{
    margin-top: 10%;
}

tbody{
    margin: 10%;
}


@media only screen and (min-width:768px) and (max-width: 1024px) {
    .tbl_today{
        top: 21%;
        width: auto;
        left: 20%;
    }
    .tbl_tommorow{

        top: 78%;

        left: 20%;

        width: auto;

        margin-left: 2%;

    }
    #container{
        height: 500px;
        width: 300px;
    }
    .tbl_attention{
        margin-bottom: 60px;
        top: 0px;
        left: 0px;
        width: auto;
        visibility: hidden;
    }

    .tbl_feedbacks{
        top: 0px;
        left: 0px;
        width: auto;
        visibility: hidden;
    }
    #star_r{
        position: absolute;
        width: 140px;
        top:450px;
        left: 880px;
        margin-left: 2px;
        top: 0px;
        left: 0px;
        visibility: hidden;
    }
    #star_r span{
        top: 0px;
        left: 0px;
        visibility: hidden;
        display: inline-block;
        margin-left: 10px;
        padding: 0px;
    }
    #top_left_title {
        top: 85px;
        margin-bottom: 60px;
        width: 247px;
    }
    #top_right_title{

        left: -27%;

        margin-top: 95%;

        width: 247px;

    }
    #bottom_left_title{
        top: 0px;
        left: 0px;
        visibility: hidden;
    }

    .bottom_right{
        top: 0px;
        left: 0px;
        visibility: hidden;

    }
    #bottom_right_title{
        top: 0px;
        left: 0px;
        visibility: hidden;

    }
    #mark{
        position: inherit;
        width: 511px;
        height: 69px;
        background: #FEF67F;
        opacity: 0.32;
        border-radius: 40px;
        font-weight: bold;


    }
    /*html{*/
    /*    height: 378px;*/
    /*    width: 323px*/
    /*;*/
    /*}*/

}