*{
    margin:0;
    padding:0;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    list-style-type: none;

}


header, main, footer nav, aside,div{
    display: block;
}

#wrapper {
    width: 1000px;
    margin: 0px auto;
    display: flex;
}


header{
    background-color: #ffeefb;
    padding: 60px;
}

#logo{
    background-image:url("../images/logo.png");
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width:90px;
    height:90px;
    margin: 0 auto;
}

nav{
    background-color: black;
}

ul{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    list-style-type: none;

}

div.boxes > div{
    height: 100px;
    width: 100px;
    background-color: #ffaff4;
    margin: 17px;
}

.selected {
    background-color: #094773;
}

.menu{
    height: 60px;
}

.menu > ul{

    position: relative;

    right: 101px;

    display: flex;

    justify-content: center;
}

.menu > ul > li{
    padding:10px 85px;
    margin-top: 9px;;
}

main{
    display: flex;
}

section.main{
    display: flex;
    position: relative;
    height: 697px;
    width: 756px;
}


.container_1 {
    margin: 9px auto;
    margin-left: 3%;
    width: 400px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 135px 140px;
    grid-row: auto auto;
    position: absolute;

}
.container_2{
        display: flex;
    flex-wrap: wrap;
    width:270px;
    height:270px;
    position: absolute;
    left: 481px;
    top: 418px;
}
  .cube{
          height: 100px;
    width: 100px;
    background-color: darkcyan;
    margin: 17px;
      align-items:center;
    justify-content:center;

  }

aside{
    background-color: rgb(206, 203, 203);
    width: 245px;
    position: relative;
}


aside>div.cube{
    height: 59px;
    width: 148px;
    background-color: darkcyan;
    position: absolute;
    right: -1%;
    top: 26%;
}




.vertical-menu > ul{
    width: 146px;
}

.vertical-menu > ul> li{
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 7px;
}




div.group1{
    background-color: lightsteelblue;
    width:257px;
    height: 758px;
    position: relative;
}
.right_boxes{
    width: 256px;
    height: 758px;
    background-color:#fcd0e0;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    margin-bottom: 45px;
}

.right_boxes > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 238px;
    width: 238px;
}

.right_boxes div div{
    width: 100px;
    height: 100px;
    background-color: #864c61;
}


.left_boxes{
    width: 598px;
    height: 758px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
}

.left_boxes div>div{
    width: 270px;
    height: 324px;
    background-color: #864c61;
}



.left_boxes div:nth-child(2){
    width: 270px;
    height: 254;
    background-color: #864c61;
    margin-bottom: 100px;
}

.left_boxes div:nth-child(3){
    width: 270px;
    height: 388px;
    background-color: #864c61;
}

.left_boxes div:nth-child(4){
    width: 270px;
    height: 365px;
    background-color: #864c61;
    margin-top: -70px;
}
/*div.squares > div{*/
/*    background-color:darkcyan;*/
/*}*/

/*div.squares{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    width: 270px;*/
/*    height: 117px;*/
/*    position: absolute;*/
/*    left: -6px;*/
/*    top: 495px;*/
/*}*/

/*div.group2{*/
/*    position: relative;*/
/*    width: 596px;*/
/*    height: 758px;*/
/*}*/

/*div.box{*/
/*    width: 270px;*/
/*    background-color:darkcyan;*/
/*    position: absolute;*/
/*}*/

/*div.box1*/
/*{*/
/*    height:322px;*/
/*    left: 20px;*/
/*    top: 20px;*/
/*}*/

/*div.box2{*/
/*    height:412px;*/
/*    left: 20px;*/
/*    top: 370px;*/
/*    z-index: -1;*/

/*}*/

/*div.box3{*/
/*    height:255px;*/
/*    left: 308px;*/
/*    top: 20px;*/
/*}*/

/*div.box4{*/
/*    height:364px;*/
/*    left: 308px;*/
/*    top: 300px;*/
/*}*/


footer{
    height: 50px;
    background-color: rgb(179, 174, 174);
    width: 100%;
    position: absolute;
}

/* Layout 3 */


#container {
    position: relative;
    top: 30px;
    outline: 2px solid #000;
    font-size: 0;
    margin: auto;
    height: 960px;
    width: 960px;
    padding: 0;
    border: none;
}

.grid {

    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
}

#plus{
    pointer-events: all;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    margin: 0px auto;
    text-align: center;
    margin-top: 30%;


}

#star{
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 84px;
    margin-left: auto;
}


img {
    max-width: 100%;
    max-height: 100%;
}
#theImg {
    background-image: url(../images/unicron.jpg);
    background-repeat: no-repeat;
  max-width:100%;
max-height:100%;
    /*border: none;*/
    /*outline: 1px solid #000;*/
    /*display: inline-block;*/
}