
header, main, nav, footer, section, article{
    display: block;
}
*{margin: 0; padding: 0;     font-family: 'Lato', sans-serif;}

article {
    padding-left: 50px;
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: #F5F4F4;
}

.center {
    margin-right: 30px;
}

.centerpic {
    margin-left: 90px;
    margin-top: 80px;
    margin-top: 20px;
    width: 70px;
}
.centerpic1 {
    margin-left: 90px;
    margin-top: 80px;
    margin-top: 20px;
    width: 70px;


}
.centerpic2 {
    margin-left: 105px;
    margin-top: 80px;
}
.centerpic3 {
    margin-left: 100px;
    margin-top: 80px;
}

body{
    color:#ffffff;
    background-color:#ED4C5C;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color:#ffffff;
}

nav {
    margin-left: 51.45px;
}

#logo {
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: initial;
    width: 100px;
    height: 90px;
    margin-left: 85px;
    line-height: 90px;
    display: block;
    white-space: nowrap ;



}

#logo span {
    font-family: 'Lato', sans-serif;
    margin-left: 75px;
    line-height: 76px;
    color: #ffffff;
}

a:hover {
    color:rgb(194, 186, 186);
}

.image {
    border-radius: 8px;
    margin-left: 51.45px;
}
.button {
    background-color: #ffffff;
    color:grey;
    font-family:'Lato', sans-serif;
    font-size: 15px;
    border:none;
    padding: 15px 32px;
    margin-left: 51.45px;
    border-radius: 8px;
}

header {
    background-color:#ED4C5C;
    width: 100;
    padding-top: 59px;
    margin-left: 51.45px;
}

main {
    padding-top:50px;
    padding-left: 100px;
    padding-bottom: 50px;
    background-color: #ffffff;
    color: #000000;
}


.picsSection1 {
    border-radius: 8px;
    width: 350px;
    height: 200px;
}

.picsSection2 {
    margin-left: 30px;
    border-radius: 8px;
    width: 340px;
    height: 200px;

}
.picsSection3 {
    margin-left: 30px;
    border-radius: 8px;
    box-shadow:0px 1px 60px rgb(185, 181, 181);
    width: 340px;
    height: 200px;
}

.rectangl1{
    color:#ED4C5C;
    text-align: center;

    position: absolute;
    width: 350px;
    height: 40px;
    left: 100px;
    top: 1438px;

    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
a.rectangl1{
    position: absolute;
    height: 27px;
    left: 100px;
    top: 1448px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #ED4C5C;
}
.rectangl2 {
    color:#ED4C5C;
    text-align: center;
    position: absolute;
    width: 350px;
    height: 40px;
    left: 480px;
    top: 1438px;

    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
a.rectangl2{
    position: absolute;
    height: 27px;
    left: 480px;
    top: 1448px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #ED4C5C;
}
.rectangl3{
    position: absolute;
    width: 350px;
    height: 40px;
    left: 855px;
    top: 1438px;

    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

a.rectangl3{
    position: absolute;
    width: 350px;
    height: 27px;
    left: 855px;
    top: 1448px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #ED4C5C;

}


.redLink {
    color:#ED4C5C;
}

footer {
    margin-left: 51.45px;
}

.pics {
    padding-left: 50px;
    background-color: #ffffff;
    position: absolute;
}




.picLinks {
    align-content: center;
    /* position: ; */
    color:#000000;
    background-color: #ffffff;
    left: 100px;
    top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top:4px;
    border-radius: 4px;
}

a.articleStyle {
    color:#000000;
    padding-top: 100px;
    margin-top: 150px;
    margin-left: 85px;
    width: 1500px;
    height: 657px;
    left: 0px;
    top: 1114px;
}

a.articleStyle1 {
    color:#000000;
    padding-top: 70px;
    margin-left: 68px;
    width: 1520px;
    height: 657px;
    left: 0px;
    top: 1114px;
}
.rects {
    margin-left: 45px;
}

.rects1 {
    margin-left: 85px;
}

.rects2 {
    margin-left: 61px;
}

.rects3 {
    margin-left: 57px;
}

.rectangle {
    height: 226px;
    width: 255px;
    background-color: #ffffff;
    left: 50px;
    top: 1474px;
    margin-left: 60px;
    margin-top: 50px;
    display: inline-block;
}

table {
    border: 1px;
}

image.rectangl1{
    position: absolute;
width: 113px;
height: 22px;
left: 121px;
top: 1613px;

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #101010;
}
.rectangle1 {
    height: 216px;
    width: 255px;
    background-color: #ffffff;
    left: 50px;
    top: 1474px;
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 11px;
    text-align: center;
    display: inline-block;
}
.navStyle {
    margin-bottom: 30px;
}

a.imgAlign {
    position:absolute;
}

p {
    color:#000000;
    font-size: small;
}